@namespace Aspire.Dashboard.Components
@using System.Collections.Immutable
@inherits FluentComponentBase

@{
    var additionalButtonAttributes = new Dictionary<string, object>(AdditionalAttributes ?? ImmutableDictionary<string, object>.Empty)
    {
        { "aria-haspopup", "true" },
        { "aria-expanded", _visible },
        { "onkeydown", (KeyboardEventArgs args) => OnKeyDown(args) }
    };
}

<button id="@MenuButtonId" type="button" title="@Title" class="@TriggerClass" @onclick="ToggleMenu" disabled="@_disabled" @attributes="additionalButtonAttributes">
    @if (IconStart is { } startIcon)
    {
        <DeckIcon Name="startIcon" Size="16" />
    }
    @if (string.IsNullOrWhiteSpace(Text))
    {
        <DeckIcon Name="_icon" Size="16" Style="@IconStyle" />
    }
    else
    {
        <span>@Text</span>

        @if (!HideIcon)
        {
            <DeckIcon Name="_icon" Size="16" Style="@IconStyle" />
        }
    }
</button>

<AspireMenu Anchor="@MenuButtonId" @bind-Open="@_visible" Items="_items" />
