@using Aspire.Dashboard.Resources

<div class="application-run-select">
    <FluentSelect TOption="string"
                Value="@SelectedRunId"
                ValueChanged="@SelectedRunIdChanged"
                Position="SelectPosition.Below"
                AriaLabel="@Loc[nameof(Dialogs.DashboardRunsDialogLaunchButton)]"
                Appearance="Appearance.Stealth">
        <FluentIcon Class="application-run-status"
                    Value="@(new Icons.Filled.Size12.Circle())"
                    Color="@(SelectedRunIsCurrent ? Color.Success : Color.Warning)"
                    Slot="start" />
        <span slot="indicator" hidden></span>
        @foreach (var run in _runs)
        {
            <FluentOption Value="@run.RunId">@FormatRunOption(run)</FluentOption>
        }
    </FluentSelect>
</div>
