@using Aspire.Dashboard.Components.Resize
@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> Loc

@{
    var toggleOrientationTooltip = (Orientation == Orientation.Horizontal ? Loc[nameof(ControlsStrings.SummaryDetailsViewSplitHorizontal)] : Loc[nameof(ControlsStrings.SummaryDetailsViewSplitVertical)]).Value;
    var closeViewTooltip = Loc[nameof(ControlsStrings.SummaryDetailsViewCloseView)].Value;
}

<div class="details-container">
    <header style="height: auto;">
        @if (DetailsTitle is not null)
        {
            <h2 class="details-header-title" title="@DetailsTitle">@DetailsTitle</h2>
        }
        else if (DetailsTitleTemplate is not null)
        {
            <h2 class="details-header-title">@DetailsTitleTemplate</h2>
        }
        <div class="header-actions">
            @if (ViewportInformation.IsDesktop)
            {
                <FluentButton Appearance="Appearance.Stealth"
                              Id="@_toggleOrientationButtonId"
                              IconEnd="@(Orientation == Orientation.Horizontal ? _splitHorizontalIcon : _splitVerticalIcon)"
                              OnClick="HandleToggleOrientation"
                              aria-label="@toggleOrientationTooltip"/>
                <AspireTooltip Anchor="@_toggleOrientationButtonId" Text="@toggleOrientationTooltip" />
            }

            <FluentButton Appearance="Appearance.Stealth" BackgroundColor="@(ViewportInformation.IsDesktop ? null : "rgba(0, 0, 0, 0)")" IconEnd="@(new Icons.Regular.Size16.Dismiss())"
                          Id="@_closeButtonId"
                          OnClick="HandleDismissAsync" aria-label="@closeViewTooltip"/>
            <AspireTooltip Anchor="@_closeButtonId" Text="@closeViewTooltip" />
        </div>
    </header>
    @Details
</div>

@code {
    private readonly Icon _splitHorizontalIcon = new Icons.Regular.Size16.SplitHorizontal();
    private readonly Icon _splitVerticalIcon = new Icons.Regular.Size16.SplitVertical();
    private readonly string _toggleOrientationButtonId = $"details-toggle-orientation-{Guid.NewGuid():N}";
    private readonly string _closeButtonId = $"details-close-{Guid.NewGuid():N}";

    [Parameter]
    public string? DetailsTitle { get; set; }

    [Parameter]
    public RenderFragment? Details { get; set; }

    [Parameter]
    public RenderFragment? DetailsTitleTemplate { get; set; }

    [Parameter]
    public required Func<Task> HandleToggleOrientation { get; set; }

    [Parameter]
    public required Func<Task> HandleDismissAsync { get; set; }

    [Parameter]
    public required Orientation Orientation { get; set; }

    [CascadingParameter]
    public required ViewportInformation ViewportInformation { get; set; }
}
