@inject IStringLocalizer<Resources.StructuredLogs> Loc

@{
    var logLevelSelectId = $"log-level-select-{Guid.NewGuid():N}";
}

@if (ViewportInformation.IsDesktop)
{
    <label for="@logLevelSelectId" class="fluent-input-label">@Loc[nameof(Dashboard.Resources.StructuredLogs.StructuredLogsLevels)]</label>

    <DesktopToolbarDivider />

    <FluentSelect TOption="SelectViewModel<LogLevel?>"
                  TValue="SelectViewModel<LogLevel?>"
                  Id="@logLevelSelectId"
                  Items="@LogLevels"
                  OptionText="@(c => c.Name)"
                  @bind-Value="@LogLevel"
                  @bind-Value:after="@HandleSelectedLogLevelChangedInternalAsync"
                  Width="120px"
                  Style="min-width: auto;"
                  AriaLabel="@Loc[nameof(Resources.StructuredLogs.StructuredLogsSelectMinimumLogLevel)]"
                  @attributes="@AdditionalAttributes" />
}
else
{
    <div>
        <FluentSelect TOption="SelectViewModel<LogLevel?>"
                  TValue="SelectViewModel<LogLevel?>"
                      Id="@logLevelSelectId"
                      Items="@LogLevels"
                      OptionText="@(c => c.Name)"
                      Label="@Loc[nameof(Resources.StructuredLogs.StructuredLogsLevels)]"
                      @bind-Value="@LogLevel"
                      @bind-Value:after="@HandleSelectedLogLevelChangedInternalAsync"
                      Width="120px"
                      Style="min-width: auto;"
                      AriaLabel="@Loc[nameof(Resources.StructuredLogs.StructuredLogsSelectMinimumLogLevel)]"
                      @attributes="@AdditionalAttributes" />
    </div>
}