@namespace Aspire.Dashboard.Components
@using Aspire.Dashboard.Resources

@if (ViewportInformation.IsDesktop)
{
    // Either display commands or a spacer.
    // Spacer keeps a consistent placing of following buttons if there are less highlighted commands for this resource.
    @for (var i = 0; i < MaxHighlightedCount; i++)
    {
        if (i < _highlightedCommands.Count)
        {
            var highlightedCommand = _highlightedCommands[i];
            var highlightedCommandTooltip = !string.IsNullOrEmpty(highlightedCommand.GetDisplayDescription()) ? highlightedCommand.GetDisplayDescription()! : highlightedCommand.GetDisplayName();
            var highlightedCommandButtonId = GetHighlightedCommandButtonId(i);

            <FluentButton Id="@highlightedCommandButtonId"
                          Appearance="Appearance.Lightweight"
                          aria-label="@highlightedCommandTooltip"
                          @onfocusin="@(() => ShowTooltip(highlightedCommandButtonId, highlightedCommandTooltip, isFocus: true))"
                          @onfocusout="@(() => HideTooltip(highlightedCommandButtonId, isFocus: true))"
                          @onmouseenter="@(() => ShowTooltip(highlightedCommandButtonId, highlightedCommandTooltip, isFocus: false))"
                          @onmouseleave="@(() => HideTooltip(highlightedCommandButtonId, isFocus: false))"
                          OnClick="@(() => CommandSelected.InvokeAsync(highlightedCommand))"
                          Disabled="@(highlightedCommand.State == CommandViewModelState.Disabled || IsCommandExecuting(Resource, highlightedCommand))">
                <FluentIcon Value="@IconResolver.ResolveHighlightedCommandIcon(highlightedCommand.IconName, highlightedCommand.IconVariant)" Width="16px" />
            </FluentButton>
        }
        else
        {
            <div style="display:inline-block; width:32px;"></div>
        }
    }

    var consoleLogsTooltip = Loc[nameof(Resources.ResourceActionConsoleLogsText)].Value;
    <FluentButton Id="@_consoleLogsButtonId"
                  Appearance="Appearance.Lightweight"
                  aria-label="@consoleLogsTooltip"
                  @onfocusin="@(() => ShowTooltip(_consoleLogsButtonId, consoleLogsTooltip, isFocus: true))"
                  @onfocusout="@(() => HideTooltip(_consoleLogsButtonId, isFocus: true))"
                  @onmouseenter="@(() => ShowTooltip(_consoleLogsButtonId, consoleLogsTooltip, isFocus: false))"
                  @onmouseleave="@(() => HideTooltip(_consoleLogsButtonId, isFocus: false))"
                  OnClick="@(() => NavigationManager.NavigateTo(Aspire.Dashboard.Utils.DashboardUrls.ConsoleLogsUrl(resource: ResourceViewModel.GetResourceName(Resource, ResourceByName))))">
        <FluentIcon Value="@s_consoleLogsIcon" />
    </FluentButton>

    <FluentDivider Class="action-divider" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
}

<AspireMenuButton ButtonAppearance="Appearance.Lightweight"
                  Icon="@(new Icons.Regular.Size20.MoreHorizontal())"
                  Items="@_menuItems"
                  @ref="_menuButton"
                  MenuButtonId="@_menuButtonId"
                  Title="@ControlLoc[nameof(ControlsStrings.ActionsButtonText)]"
                  SuppressNativeTooltip="true"
                  UseTooltip="false"
                  @onfocusin="@(() => ShowTooltip(_menuButtonId, ControlLoc[nameof(ControlsStrings.ActionsButtonText)].Value, isFocus: true))"
                  @onfocusout="@(() => HideTooltip(_menuButtonId, isFocus: true))"
                  @onmouseenter="@(() => ShowTooltip(_menuButtonId, ControlLoc[nameof(ControlsStrings.ActionsButtonText)].Value, isFocus: false))"
                  @onmouseleave="@(() => HideTooltip(_menuButtonId, isFocus: false))" />

@if (!string.IsNullOrWhiteSpace(_activeTooltipAnchor) && !string.IsNullOrWhiteSpace(_activeTooltipText))
{
    <AspireTooltip Anchor="@_activeTooltipAnchor" Text="@_activeTooltipText" />
}
