@namespace Aspire.Dashboard.Components
@using Aspire.Dashboard.Resources

@if (ViewportInformation.IsDesktop)
{
    // Either display commands or a spacer.
    // Spacer keeps a consistent placing of following buttons if there are less highlighted commands for this resource.
    @for (var i = 0; i < MaxHighlightedCount; i++)
    {
        if (i < _highlightedCommands.Count)
        {
            var highlightedCommand = _highlightedCommands[i];

            <button type="button" class="icon-btn icon-btn--sm" title="@(!string.IsNullOrEmpty(highlightedCommand.GetDisplayDescription()) ? highlightedCommand.GetDisplayDescription() : highlightedCommand.GetDisplayName())" @onclick="@(() => CommandSelected.InvokeAsync(highlightedCommand))" disabled="@(highlightedCommand.State == CommandViewModelState.Disabled || IsCommandExecuting(Resource, highlightedCommand))">
                <DynamicFluentIcon IconName="@highlightedCommand.IconName"
                                   IconVariant="highlightedCommand.IconVariant"
                                   UseHighlightedFallback="true" />
            </button>
        }
        else
        {
            <div style="display:inline-block; width:32px;"></div>
        }
    }

    <button type="button" class="icon-btn icon-btn--sm" title="@Loc[nameof(Resources.ResourceActionConsoleLogsText)]" @onclick="@(() => NavigationManager.NavigateTo(Aspire.Dashboard.Utils.DashboardUrls.ConsoleLogsUrl(resource: ResourceViewModel.GetResourceName(Resource, ResourceByName))))">
        <DeckIcon Name="ConsoleLogsIcon" Size="16" />
    </button>

    <Divider Class="action-divider" />
}

<AspireMenuButton ButtonAppearance="Appearance.Lightweight"
                  Icon="DeckIconName.MoreHorizontal"
                  Items="@_menuItems"
                  @ref="_menuButton"
                  Title="@ControlLoc[nameof(ControlsStrings.ActionsButtonText)]" />
