@using Aspire.Dashboard.Resources

<label for="@_selectId" class="fluent-input-label @LabelClass">@Loc[nameof(ControlsStrings.ResourceLabel)]</label>

<FluentSelect TOption="SelectViewModel<ResourceTypeDetails>"
              TValue="SelectViewModel<ResourceTypeDetails>"
              Items="Resources"
              Disabled="@(Resources is null)"
              @key="@Resources?.Count()"
              Id="@_selectId"
              OptionDisabled="@(c => !CanSelectGrouping && c!.Id?.Type is Otlp.Model.OtlpResourceType.ResourceGrouping)"
              OptionText="@(c => c!.Name)"
              @bind-Value="SelectedResource"
              @bind-Value:after="SelectedResourceChangedCore"
              AriaLabel="@AriaLabel"
              Class="resource-list"
              Height="@GetPopupHeight()">
    <OptionTemplate>
        <ResourceSelectOptionTemplate ViewModel="@context" />
    </OptionTemplate>
</FluentSelect>
