@namespace Aspire.Dashboard.Components
@using Aspire.Dashboard.Resources

@if (ViewportInformation.IsDesktop)
{
    // Either display commands or a spacer.
    // Spacer keeps a consistent placing of following buttons if there are less highlighted commands for this resource.
    @for (var i = 0; i < MaxHighlightedCount; i++)
    {
        if (i < _highlightedCommands.Count)
        {
            var highlightedCommand = _highlightedCommands[i];

            <FluentButton Appearance="Appearance.Lightweight" Title="@(!string.IsNullOrEmpty(highlightedCommand.GetDisplayDescription()) ? highlightedCommand.GetDisplayDescription() : highlightedCommand.GetDisplayName())" OnClick="@(() => CommandSelected.InvokeAsync(highlightedCommand))" Disabled="@(highlightedCommand.State == CommandViewModelState.Disabled || IsCommandExecuting(Resource, highlightedCommand))">
                @if (!string.IsNullOrEmpty(highlightedCommand.IconName) && ResourceIconHelpers.TryGetDeckIcon(highlightedCommand.IconName, out var commandIcon))
                {
                    <DeckIcon Name="commandIcon" Size="16" />
                }
                else
                {
                    @highlightedCommand.GetDisplayName()
                }
            </FluentButton>
        }
        else
        {
            <div style="display:inline-block; width:32px;"></div>
        }
    }

    <FluentButton Appearance="Appearance.Lightweight" Title="@Loc[nameof(Resources.ResourceActionConsoleLogsText)]" OnClick="@(() => NavigationManager.NavigateTo(Aspire.Dashboard.Utils.DashboardUrls.ConsoleLogsUrl(resource: ResourceViewModel.GetResourceName(Resource, ResourceByName))))">
        <DeckIcon Name="ConsoleLogsIcon" Size="16" />
    </FluentButton>

    <FluentDivider Class="action-divider" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
}

<AspireMenuButton ButtonAppearance="Appearance.Lightweight"
                  Icon="DeckIconName.MoreHorizontal"
                  Items="@_menuItems"
                  @ref="_menuButton"
                  Title="@ControlLoc[nameof(ControlsStrings.ActionsButtonText)]" />
