@namespace Aspire.Dashboard.Components

@using System.Collections.Concurrent
@using Aspire.Dashboard.Resources

@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc
@inject IStringLocalizer<Resources> Loc

@typeparam TValue where TValue : notnull

<div class="deck-stack deck-stack--vertical" id="@Id">
    <Checkbox Label="@ControlsStringsLoc[nameof(ControlsStrings.LabelAll)]"
              Checked="@(GetCheckState(Values) == true)"
              Indeterminate="@(GetCheckState(Values) is null)"
              CheckedChanged="@(v => OnAllValuesCheckedChangedInternalAsync(v))" />

    @* OrderBy doesn't use thread safe APIs on ConcurrentDictionary. Call ToArray first. *@
    @foreach (var (key, isChecked) in Values.ToArray().OrderBy(pair => pair.Key.ToString(), StringComparer.OrdinalIgnoreCase))
    {
        var label = string.IsNullOrEmpty(key.ToString()) ? Loc[nameof(Resources.ResourceFilterOptionEmpty)] : key.ToString();

        <Checkbox Label="@label"
                  Checked="@isChecked"
                  CheckedChanged="@(c => OnValueVisibilityChangedInternalAsync(key, c))" />
    }
</div>
