@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

@if (ViewportInformation.IsDesktop)
{
    <PauseIncomingDataSwitch IsPaused="@IsPaused" IsPausedChanged="@OnPausedChanged"/>
    <ClearSignalsButton SelectedResource="@SelectedResource"
                        HandleClearSignal="@HandleClearSignal"/>
}
else
{
    <FluentLabel>@ControlsStringsLoc[nameof(ControlsStrings.ResourceActions)]</FluentLabel>

    <div class="deck-stack">
        <PauseIncomingDataSwitch IsPaused="@IsPaused" IsPausedChanged="@OnPausedChanged" />
        <ClearSignalsButton SelectedResource="@SelectedResource"
                            HandleClearSignal="@HandleClearSignal"/>
    </div>
}
