@{
    var spanTypeSelectId = $"span-type-select-{Guid.NewGuid():N}";
}

@if (ViewportInformation.IsDesktop)
{
    <label for="@spanTypeSelectId" class="fluent-input-label">@Loc[nameof(Dashboard.Resources.Traces.SpanTypeLabel)]</label>

    <DesktopToolbarDivider />

    <FluentSelect TOption="SelectViewModel<SpanType>"
                  TValue="SelectViewModel<SpanType>"
                  Id="@spanTypeSelectId"
                  Items="@SpanTypes"
                  OptionText="@(c => c.Name)"
                  @bind-Value="@SpanType"
                  @bind-Value:after="@HandleSelectedSpanTypeChangedInternalAsync"
                  Width="120px"
                  Style="min-width: auto;"
                  AriaLabel="@Loc[nameof(Dashboard.Resources.Traces.SpanTypeSelectSpanType)]"
                  @attributes="@AdditionalAttributes" />
}
else
{
    <div>
        <FluentSelect TOption="SelectViewModel<SpanType>"
                  TValue="SelectViewModel<SpanType>"
                      Id="@spanTypeSelectId"
                      Items="@SpanTypes"
                      OptionText="@(c => c.Name)"
                      Label="@Loc[nameof(Dashboard.Resources.Traces.SpanTypeLabel)]"
                      @bind-Value="@SpanType"
                      @bind-Value:after="@HandleSelectedSpanTypeChangedInternalAsync"
                      Width="120px"
                      Style="min-width: auto;"
                      AriaLabel="@Loc[nameof(Dashboard.Resources.Traces.SpanTypeSelectSpanType)]"
                      @attributes="@AdditionalAttributes" />
    </div>
}