@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using System.Collections.Immutable
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons
@inject IStringLocalizer<ControlsStrings> Loc

<div class="structured-log-details-layout">
    <FluentToolbar Orientation="Orientation.Horizontal">
        <div>
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceLabel)] <strong>@ViewModel.LogEntry.ResourceView.Resource.ResourceName</strong>
        </div>
        <Divider />
        <div title="@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Full)">
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsTimestampLabel)] <strong>@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Truncated)</strong>
        </div>
        <SearchBox Placeholder="@Loc[nameof(ControlsStrings.FilterPlaceholder)]"
                   Autofocus="true"
                   @bind-Value="_filter"
                   slot="end" />
        <Divider slot="end" />
        <AspireMenuButton ButtonAppearance="Appearance.Lightweight"
                          Icon="DeckIconName.Options"
                          Items="@_logActionsMenuItems"
                          Title="@Loc[nameof(ControlsStrings.ActionsButtonText)]"
                          slot="end" />
    </FluentToolbar>
    <div class="property-grid-container">
        <Accordion>
            <AccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsLogEntryHeader)]" Expanded="true" Count="@FilteredItems.Count()">
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </AccordionItem>
            <AccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsContextHeader)]" Expanded="true" Count="@FilteredContextItems.Count()">
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredContextItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </AccordionItem>
            @if (_exceptionAttributes.Count > 0)
            {
                <AccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsExceptionHeader)]" Expanded="true" Count="@FilteredExceptionItems.Count()">
                    <PropertyGrid TItem="TelemetryPropertyViewModel"
                                  Items="@FilteredExceptionItems"
                                  GridTemplateColumns="1fr 2fr"
                                  HighlightText="@_filter" />
                </AccordionItem>
            }
            <AccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceHeader)]" Expanded="true" Count="@FilteredResourceItems.Count()">
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredResourceItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </AccordionItem>
        </Accordion>
    </div>
</div>
