@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using System.Collections.Immutable
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons
@inject IStringLocalizer<ControlsStrings> Loc

<div class="structured-log-details-layout">
    <FluentToolbar Orientation="Orientation.Horizontal">
        <div>
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceLabel)] <strong>@ViewModel.LogEntry.ResourceView.Resource.ResourceName</strong>
        </div>
        <Divider />
        <div title="@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Full)">
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsTimestampLabel)] <strong>@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Truncated)</strong>
        </div>
        <FluentSearch Placeholder="@Loc[nameof(ControlsStrings.FilterPlaceholder)]"
                      Immediate="true"
                      Autofocus="true"
                      AutoComplete="off"
                      @bind-Value="_filter"
                      slot="end" />
        <Divider slot="end" />
        <AspireMenuButton ButtonAppearance="Appearance.Lightweight"
                          Icon="DeckIconName.Options"
                          Items="@_logActionsMenuItems"
                          Title="@Loc[nameof(ControlsStrings.ActionsButtonText)]"
                          slot="end" />
    </FluentToolbar>
    <div class="property-grid-container">
        <FluentAccordion>
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsLogEntryHeader)]" Expanded="true">
                <div slot="end">
                    <Badge>
                        @FilteredItems.Count()
                    </Badge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsContextHeader)]" Expanded="true">
                <div slot="end">
                    <Badge>
                        @FilteredContextItems.Count()
                    </Badge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredContextItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
            @if (_exceptionAttributes.Count > 0)
            {
                <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsExceptionHeader)]" Expanded="true">
                    <div slot="end">
                        <Badge>
                            @FilteredExceptionItems.Count()
                        </Badge>
                    </div>
                    <PropertyGrid TItem="TelemetryPropertyViewModel"
                                  Items="@FilteredExceptionItems"
                                  GridTemplateColumns="1fr 2fr"
                                  HighlightText="@_filter" />
                </FluentAccordionItem>
            }
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceHeader)]" Expanded="true">
                <div slot="end">
                    <Badge>
                        @FilteredResourceItems.Count()
                    </Badge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredResourceItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
        </FluentAccordion>
    </div>
</div>
