@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using System.Collections.Immutable
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons
@inject IStringLocalizer<ControlsStrings> Loc

<div class="structured-log-details-layout">
    <div role="toolbar" class="fluent-toolbar">
        <div>
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceLabel)] <strong>@ViewModel.LogEntry.ResourceView.Resource.ResourceName</strong>
        </div>
        <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
        <div title="@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Full)">
            @Loc[nameof(ControlsStrings.StructuredLogsDetailsTimestampLabel)] <strong>@FormatHelpers.FormatTimeWithOptionalDate(TimeProvider, ViewModel.LogEntry.TimeStamp, MillisecondsDisplay.Truncated)</strong>
        </div>
        <FluentTextInput InputMode="TextInputMode.Search" Placeholder="@Loc[nameof(ControlsStrings.FilterPlaceholder)]"
                      Immediate="true"
                      Autofocus="true"
                      AutoComplete="off"
                      @bind-Value="_filter" />
        <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
        <AspireMenuButton ButtonAppearance="ButtonAppearance.Subtle"
                          Icon="@(new Icons.Regular.Size20.Options())"
                          Items="@_logActionsMenuItems"
                          Title="@Loc[nameof(ControlsStrings.ActionsButtonText)]" />
    </div>
    <div class="property-grid-container">
        <FluentAccordion>
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsLogEntryHeader)]" Expanded="true">
                <div slot="end">
                    <FluentBadge Shape="BadgeShape.Circular">
                        @FilteredItems.Count()
                    </FluentBadge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsContextHeader)]" Expanded="true">
                <div slot="end">
                    <FluentBadge Shape="BadgeShape.Circular">
                        @FilteredContextItems.Count()
                    </FluentBadge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredContextItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
            @if (_exceptionAttributes.Count > 0)
            {
                <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsExceptionHeader)]" Expanded="true">
                    <div slot="end">
                        <FluentBadge Shape="BadgeShape.Circular">
                            @FilteredExceptionItems.Count()
                        </FluentBadge>
                    </div>
                    <PropertyGrid TItem="TelemetryPropertyViewModel"
                                  Items="@FilteredExceptionItems"
                                  GridTemplateColumns="1fr 2fr"
                                  HighlightText="@_filter" />
                </FluentAccordionItem>
            }
            <FluentAccordionItem Heading="@Loc[nameof(ControlsStrings.StructuredLogsDetailsResourceHeader)]" Expanded="true">
                <div slot="end">
                    <FluentBadge Shape="BadgeShape.Circular">
                        @FilteredResourceItems.Count()
                    </FluentBadge>
                </div>
                <PropertyGrid TItem="TelemetryPropertyViewModel"
                              Items="@FilteredResourceItems"
                              GridTemplateColumns="1fr 2fr"
                              HighlightText="@_filter"
                              ValueComponents="@_valueComponents" />
            </FluentAccordionItem>
        </FluentAccordion>
    </div>
</div>
