@if (_showUserProfileMenu)
{
    <AuthorizeView>
        <Authorized>
            <div class="profile-menu-container">
                <FluentButton Id="@_profileButtonId"
                              Appearance="ButtonAppearance.Transparent"
                              Class="profile-button"
                              OnClick="@(() => _profileMenuOpen = !_profileMenuOpen)">
                    <FluentAvatar Name="@_name" Initials="@_initials" />
                </FluentButton>
                <FluentPopover AnchorId="@_profileButtonId" @bind-Open="_profileMenuOpen">
                    <div class="profile-popover-content">
                        <FluentStack VerticalAlignment="VerticalAlignment.Center">
                            <FluentLabel>@Loc[nameof(Resources.Login.LoggedInAs)]</FluentLabel>
                            <FluentSpacer />
                            <form @formname="sign-out-form" class="sign-out-form" action="authentication/logout" method="post">
                                <AntiforgeryToken />
                                <FluentButton Appearance="ButtonAppearance.Transparent" Type="ButtonType.Submit">Sign out</FluentButton>
                            </form>
                        </FluentStack>
                        <FluentStack Class="inner-persona-container">
                            <FluentAvatar Name="@_name" Initials="@_initials" Class="inner-persona" />
                            <div>
                                <div class="full-name">@_name</div>
                                <div class="user-id">@_username</div>
                            </div>
                        </FluentStack>
                    </div>
                </FluentPopover>
            </div>
        </Authorized>
    </AuthorizeView>
}
