@using Aspire.Dashboard.Components.Controls.Chart
@using Aspire.Dashboard.Model.Assistant
@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Components.Controls.Grid
@using Aspire.Dashboard.Components.CustomIcons
@using Dialogs = Aspire.Dashboard.Resources.Dialogs

@inject IStringLocalizer<AIAssistant> Loc
@inject IStringLocalizer<Dialogs> DialogsLoc

<div class="copilot-chat-panel">
    <div class="copilot-chat-container">
        <div class="copilot-chat-scroll-region">
            <div class="copilot-chat-animation">
                <div class="copilot-chat-header">
                    <div class="copilot-chat-header-flex">
                        <div style="display: flex;column-gap: 8px;">
                            <DeckIcon Name="DeckIconName.Sparkle" Size="20" Style="vertical-align:sub;" />
                            <span class="copilot-chat-header-title">@Loc[nameof(AIAssistant.SidebarTitle)]</span>
                        </div>
                        <div style="align-content: center;display: flex;flex-wrap: wrap;">
                            @if (Content.Chat.DisplayState == AssistantChatDisplayState.Chat)
                            {
                                <button type="button" class="icon-btn" @onclick="() => StartNewChatAsync()" aria-label="@Loc[nameof(AIAssistant.SidebarNewChat)]" title="@Loc[nameof(AIAssistant.SidebarNewChat)]">
                                    <DeckIcon Name="DeckIconName.ChatAdd" Size="16" />
                                </button>
                                <button type="button" class="icon-btn" @onclick="() => ExpandDialogAsync(openedForMobileView: false)" aria-label="@Loc[nameof(AIAssistant.SidebarExpandDialog)]" title="@Loc[nameof(AIAssistant.SidebarExpandDialog)]">
                                    <DeckIcon Name="DeckIconName.ArrowExpand" Size="16" />
                                </button>
                            }
                            <button type="button" class="icon-btn" @onclick="CloseDialogAsync" aria-label="@DialogsLoc[nameof(Dialogs.DialogCloseButtonText)]" title="@DialogsLoc[nameof(Dialogs.DialogCloseButtonText)]">
                                <DeckIcon Name="DeckIconName.Close" Size="16" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="copilot-chat-body">
                    <AssistantChat Class="chat-assistant-sidebar" ChatViewModel="@Content.Chat" ModelInitialized="OnModelInitialized" />
                </div>
            </div>
        </div>
    </div>
</div>
