@using Aspire.Dashboard.Model.Assistant
@using Aspire.Dashboard.Resources

@implements IDialogContentComponent<AssistantDialogViewModel>

@inject IStringLocalizer<AIAssistant> Loc

<div class="deck-stack fluent-dialog-header"
     style="justify-content: start; align-items: start; column-gap: 10px; row-gap: 10px; width: 100%;">
    <div style="width: 100%;">
        <div class="dialog-title-grid">
            <DeckIcon Name="DeckIconName.Sparkle" Size="24" Style="grid-area: dialog-icon; align-self: center;" />
            <FluentLabel Typo="Typography.PaneHeader" Class="col-long-content" Style="grid-area: dialog-title;">
                @Loc[nameof(AIAssistant.DialogTitle)]
            </FluentLabel>
        </div>
    </div>

    <div class="deck-stack" style="width: auto;">
        <button type="button" class="icon-btn" @onclick="@(() => StartNewChatAsync())" aria-label="@Loc[nameof(AIAssistant.SidebarNewChat)]" title="@Loc[nameof(AIAssistant.SidebarNewChat)]">
            <DeckIcon Name="DeckIconName.ChatAdd" Size="20" />
        </button>
        @if (ViewportInformation.IsDesktop)
        {
            <button type="button" id="dialog_minimize" class="icon-btn" @onclick="@(() => CloseAndDisplaySidebarAsync())" aria-label="@Loc[nameof(AIAssistant.SidebarExpandDialog)]" title="@Loc[nameof(AIAssistant.SidebarExpandDialog)]">
                <DeckIcon Name="DeckIconName.Panel" Size="20" />
            </button>
        }
        <button type="button" id="dialog_close" class="icon-btn" @onclick="@(() => Dialog.CancelAsync())" aria-label="@Dialog.Instance?.Parameters?.DismissTitle" title="@Dialog.Instance?.Parameters?.DismissTitle">
            <DeckIcon Name="DeckIconName.Close" Size="20" />
        </button>
    </div>
</div>

@* The default header is hidden because a custom header, with new buttons, is displayed *@
<FluentDialogHeader Visible="false" />

@* overflow-x hidden to stop content from expanding outside the bounds of the dialog *@
<FluentDialogBody Style="overflow-x: hidden">
    <div class="modal-chat-body">
        <AssistantChat Class="chat-assistant-modal" ChatViewModel="@Content.Chat" ModelInitialized="OnModelInitialized" />
    </div>
</FluentDialogBody>

<FluentDialogFooter Visible="false" />
