@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Utils
@inject IStringLocalizer<Dialogs> Loc

<FluentDialogBody>
    <div class="notifications-container">
        @if (!_hasNotifications)
        {
            <div class="notification-center-empty">
                <FluentIcon Value="@(new Icons.Regular.Size24.Alert())" Color="Color.Neutral" />
                <p>@Loc[nameof(Dialogs.NotificationCenterEmpty)]</p>
            </div>
        }
        else
        {
            <div class="notifications-dismiss">
                <FluentAnchor Appearance="Appearance.Hypertext" Href="#" OnClick="@DismissAll">
                    @Loc[nameof(Dialogs.NotificationCenterDismissAll)]
                </FluentAnchor>
            </div>
            <div class="notifications-scroll">
                <FluentMessageBarProvider Section="@DashboardUIHelpers.NotificationSection" MaxMessageCount="-1" Type="@MessageType.Notification" />
            </div>
        }
    </div>
</FluentDialogBody>
