@using Aspire.Dashboard.Resources
@using Humanizer
@inject IStringLocalizer<Dialogs> Loc

<FluentDialogBody>
    <div class="deck-stack deck-stack--vertical" style="height: 100%; overflow-y: auto; row-gap: 12px;">
        <div class="input-container">
            <div class="settings-label">@Loc[nameof(Dialogs.SettingsDialogTheme)]</div>
            <div class="settings-radio-group">
                <label class="deck-radio">
                    <input type="radio" name="settings-theme" value="@ThemeManager.ThemeSettingSystem"
                           checked="@(_currentSetting == ThemeManager.ThemeSettingSystem)"
                           @onchange="@(() => OnThemeRadioChangedAsync(ThemeManager.ThemeSettingSystem))" />
                    @Loc[nameof(Dialogs.SettingsDialogSystemTheme)]
                </label>
                <label class="deck-radio">
                    <input type="radio" name="settings-theme" value="@ThemeManager.ThemeSettingLight"
                           checked="@(_currentSetting == ThemeManager.ThemeSettingLight)"
                           @onchange="@(() => OnThemeRadioChangedAsync(ThemeManager.ThemeSettingLight))" />
                    @Loc[nameof(Dialogs.SettingsDialogLightTheme)]
                </label>
                <label class="deck-radio">
                    <input type="radio" name="settings-theme" value="@ThemeManager.ThemeSettingDark"
                           checked="@(_currentSetting == ThemeManager.ThemeSettingDark)"
                           @onchange="@(() => OnThemeRadioChangedAsync(ThemeManager.ThemeSettingDark))" />
                    @Loc[nameof(Dialogs.SettingsDialogDarkTheme)]
                </label>
            </div>
        </div>

        <div class="input-container">
            <Select
                TOption="CultureInfo"
                Label="@Loc[nameof(Dialogs.SettingsDialogLanguage)]"
                Items="@_languageOptions"
                OptionValue="@(c => c!.Name)"
                OptionText="@(c => c!.NativeName.Humanize())"
                ValueChanged="@ValueChanged"
                @bind-SelectedOption="@_selectedUiCulture"
                @bind-SelectedOption:after="@OnLanguageChanged"
                Class="language-select"/>

            <p class="setting-subtext">@Loc[nameof(Dialogs.SettingsDialogLanguagePageReloads)]</p>
        </div>

        <div class="input-container">
            <div class="settings-label">@Loc[nameof(Dialogs.SettingsDialogTimeFormat)]</div>
            <div class="settings-radio-group">
                @foreach (var format in Enum.GetValues<TimeFormat>())
                {
                    <label class="deck-radio">
                        <input type="radio" name="settings-timeformat" value="@format"
                               checked="@(_timeFormat == format)"
                               @onchange="@(() => OnTimeFormatRadioChangedAsync(format))" />
                        @FormatTimeFormatOption(format)
                    </label>
                }
            </div>
        </div>

        <div>
            <span class="setting-title">@Loc[nameof(Dialogs.SettingsDialogDashboardLogsAndTelemetry)]</span>
            <div>
                <button type="button" class="btn"
                        @onclick="LaunchManageDataAsync"
                        title="@Loc[nameof(Dialogs.ManageDataManageButtonText)]"
                        aria-label="@Loc[nameof(Dialogs.ManageDataManageButtonText)]">
                    <DeckIcon Name="DeckIconName.Settings" Size="16" />
                    @Loc[nameof(Dialogs.ManageDataManageButtonText)]
                </button>
            </div>
        </div>

        @if (TelemetryService is { IsTelemetryInitialized: true, IsTelemetryEnabled: true })
        {
            <div>
                <p class="setting-subtext">
                    @Loc[nameof(Dialogs.SettingsDialogTelemetryEnabledInfo)] <a target="_blank" href="https://aka.ms/aspire/dashboard-microsoft-collected-telemetry" title="@Loc[nameof(Dialogs.SettingsDialogTelemetryInfoLinkTooltip)]">@Loc[nameof(Dialogs.SettingsDialogTelemetryInfoLinkText)]</a>
                </p>
            </div>
        }

        <div class="version">
            <div>
                @string.Format(Loc[nameof(Dialogs.SettingsDialogVersion)], VersionHelpers.DashboardDisplayVersion)
            </div>
            <div>
                @string.Format(Loc[nameof(Dialogs.SettingsDialogDotNetRuntimeVersion)], System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)
            </div>
        </div>
    </div>
</FluentDialogBody>
