@page "/login"
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject IStringLocalizer<Dashboard.Resources.Login> Loc

<PageTitle><ApplicationName ResourceName="@nameof(Dashboard.Resources.Login.PageTitle)" Loc="@Loc" /></PageTitle>

<div class="auth-backdrop">
    <EditForm class="auth-card" EditContext="@EditContext" OnValidSubmit="@SubmitAsync" FormName="token_validation">
        <DataAnnotationsValidator />
        <div class="auth-brand">
            <AspireLogo Height="64" Width="64" />
        </div>
        <h1 class="auth-title"><ApplicationName ResourceName="@nameof(Dashboard.Resources.Login.Header)" Loc="@Loc" /></h1>
        <div class="auth-field">
            @*
            * AutoComplete value of one-time-code prevents the browser asking to save the value.
            * The oninput handler updates the bound token on every key press (matching the previous
            * Immediate="true" behaviour) and notifies the EditContext so stale validation messages
            * clear as the user types.
            *@
            <input id="token-text-field" @ref="_tokenElement" type="password" name="token"
                   class="auth-input" autocomplete="one-time-code" spellcheck="false"
                   placeholder="@Loc[nameof(Dashboard.Resources.Login.TextFieldPlaceholder)]"
                   value="@_formModel.Token" @oninput="OnTokenInput" />
        </div>
        <div class="auth-validation">
            <FluentValidationMessage For="() => _formModel.Token" />
        </div>
        <div class="auth-actions">
            <button class="btn btn--primary auth-submit" name="submit-token" type="submit">@Loc[nameof(Dashboard.Resources.Login.LogInButtonText)]</button>
        </div>
        <a href="@NavigationManager.Uri" id="helpLink" class="auth-help-link">@Loc[nameof(Dashboard.Resources.Login.WhereIsMyTokenLinkText)]</a>
        <FluentTooltip Anchor="helpLink" MaxWidth="650px" aria-label="https://go.microsoft.com/fwlink/?linkid=2265718">
            <div class="token-help-container">
                <div>
                    <a href="/img/TokenExample.png" target="_blank">
                        <img class="token-help-image" src="/img/TokenExample.png"
                             alt="@Loc[nameof(Dashboard.Resources.Login.HelpScreenshotAltText)]" />
                    </a>
                </div>
                <div>
                    <p>@Loc[nameof(Dashboard.Resources.Login.TokenHelpTextLine1)]</p>
                    <p>@Loc[nameof(Dashboard.Resources.Login.TokenHelpTextLine2)]</p>
                </div>
                <a href="https://go.microsoft.com/fwlink/?linkid=2265718" target="_blank" rel="noopener noreferrer">
                    @Loc[nameof(Dashboard.Resources.Login.MoreInfoLinkText)]
                </a>
            </div>
        </FluentTooltip>
    </EditForm>
    <div class="auth-version">
        @VersionHelpers.DashboardDisplayVersion
    </div>
</div>
